<p>Welcome to the 2023 WECIA Emotion Prediction Competition!</p>

<p>In this competition, you will use visual and textual data to predict the emotion elicited by the image. The winning team .....</p>

<h3>Competition Site Participation</h3>


<p>To participate in this competition, please follow these steps in sequence:</p>

<ul>
<li><b>Sign up. </b>Each person (team lead and team members) sign up for an EvalAI account</li>
<li><b>Create team and name.</b> Team lead starts a team and names it by going to Participate - Create a New Team - Participate</li>
<li><b>Invite teammates (optional).</b> Team lead invites team members by navigating to the side bar Participant Teams - clicks on the add person button - add members by emails
    <ul>
        <li>Adding team members is optional in the sense that you may work alone. This is the process you must follow to add team members</li>
        <li>Invited team members must already be registered and for team leads to invite they must enter the same email address team members signed up for EvalAI with. After doing so team members will display immediately if successful</li>
        <li>Each person can only be on one team and each team can only have one team lead.</li>
    </ul>
</ul>

<h3>Data</h3>

<p>The predictions are text responses to visual and textual data, the responses correspond to different emotions.</p>
<p>Set of emotions: ........</p>
<p>Both train split and test split are available here along with test set annotations.</p>

